///////////////////////////////////////////////////////////////
///   Black NotePad - 14.07.2026 16:12:10 - Not activated   ///
///////////////////////////////////////////////////////////////
Flask==3.0.0
vk-api==11.9.9
gunicorn==21.2.0
